[CameraTransform]
eye=0.0,0.0,-7.0
at=0.0,0.0,0.0
up=0.0,1.0,0.0

[DirectionalLight]
color=1.0,0.95,0.9,1.0          
direction=0.5,0.5,0.5        
position=0.0,0.0,0.0               
attenuation=0.0,0.0,0.0                    
intensity=1.0
range=0.0

[AmbientLight]
color=0.3,0.3,0.35,1.0          
direction=0.0,0.0,0.0                       
position=0.0,0.0,0.0                      
attenuation=0.0,0.0,0.0                    
intensity=0.5
range=0.0

[SpotLight]
color=1.0,0.8,0.6,1.0           
direction=-0.5,-1.0,0.5         
position=5.0,10.0,5.0           
attenuation=1.0,0.1,0.01        
intensity=1.0
range=25.0

[PlayerTransform]
position=0.0,3.5,0.2
rotation=0.0,3.14,0.0
scale=0.3,0.3,0.05

[TreeTransform]
position=0.0,0.0,5.0
rotation=0.0,0.0,0.0
scale=1.0,1.0,1.0

[PlayerDir]
player_model=models/player.obj

[BuildingDir]
building_model=models/shop.obj

[TreeDir]
tree_model=models/tree.obj

[BuildingTextures]
color_map=models/source/base.dds
normal_map=models/source/normal.dds
height_map=models/source/height.dds

[PlatformTextures]
color_map=textures/bricks_base.dds
normal_map=textures/bricks_normal.dds
height_map=textures/bricks_height.dds


